@font-face {
    font-family: "CustomFont";
    src: url(./fonts/Norse-Bold\ \(1\).otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.5em;
}
.image-section{
    position: absolute;
}
.image{
    width: 30vw;
    height: 100vh;
}

/* @media screen and (width < 700px) {
    .image{
        width: 100vw;
        height: 40vh;
    }
} */

.logo-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 20vh;
    background-color: rgb(0, 0, 0,0.4);
    position: absolute;
    top: 20%;
}

.logo-image{
     width: 7vw;
    height: 18vh; 
}

.logo-name{
    font-family: "CustomFont";
    font-size: 10vw;
}