@font-face {
    font-family: "CustomFont";
    src: url(./fonts/Norse-Bold\ \(1\).otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.8em;
}
.page{
    display: flex;
}

.description{
    margin-top: 15vh;
    margin-left: 6vw;
    margin-right: 13vw;
    font-size: 20px;
}
.image{
    width: 30vw;
    height: 100vh;
}

.logo-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 20vh;
    background-color: rgb(0, 0, 0,0.4);
    position: absolute;
    top: 20%;
}

.logo-image{
    width: 7vw;
   height: 18vh; 
}

.logo-name{
   font-family: "CustomFont";
   font-size: 10vw;
}

@media screen and (width < 700px) {
    .image{
        width: 100vw;
        height: 40vh;
    }
    .page{
        display: flex;
        flex-direction: column;
    }
    .logo-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        position: absolute;
        
    }
}




.form{
    margin-top: 5vh;
}

#formheader{
    margin-left: 6vw;
    
}

.form-containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    gap: 5vh;
}

input{
    padding: 14px;
    width: 20vw;
    height: 2vh;
    min-width: 10vw;
    min-height: 2vh;
}
.submit-section{
    margin-left: 6vw;
    margin-top: 4vh;
}

button{
    background-color: #596D48;
    width: 20vw;
    height: 4vh;
    border: none;
    border-radius: 0.5em;
}

.log-in{
    color: #596D48;
}

